# dependencies
node_modules/

# next.js
.next/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store

# strapi build
backend/build/
backend/.cache/